$header-background-color: #E1FF8F;
$header-carousel-color: #BCEC30;
$main-background-color: #202027;

$h1-color-top: #202027;
$h1-color-main: #fff;

$h3-color-main: #202027;

$paragraph-color-top: #202027;
$paragraph-color-main: #fff;

$paragraph-color-game-item: #202027;

$btn-text-color: #fff;
$btn-background-color: #202027;

$header-shadow-elem: rgba(0, 0, 0, 0.25) 0px 4px 4px;